html,
body {
  margin: 0;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.container {
  margin: auto;
  max-width: 1140px;
}

/* text styles */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* main page */
.to-do-title {
  text-align: center;
  margin-bottom: 5rem;
}

#to-do-add-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border: none;
  color: white;
  cursor: pointer;
  background: #2196f3;
  border-radius: 0.2rem;
}

/* to-do element */
.to-do-wrapper {
  padding: 0;
  list-style-type: none;
}

.to-do-element {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  background: aliceblue;
}

.to-do-element__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.to-do-element__description {
  margin-top: 0;
  /* margin-bottom: 0.5rem; */
}

.to-do-element__edit,
.to-do-element__remove {
  cursor: pointer;
}

.to-do-element__edit:hover {
  color: #00bcd4;
}

.to-do-element__remove:hover {
  color: #e91e63;
}

/* to-do form */
.to-do-form-wrapper {
  top: 0;
  right: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  position: fixed;
  align-items: center;
  background: #03a9f41f;
  justify-content: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 45px #ffffff59;
}

.to-do-form {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  background: white;
}

.to-do-form__input {
  border: none;
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  border-radius: 0.3rem;
}

.to-do-form__input:last-child {
  margin-bottom: 0;
}

.to-do-form__button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: #607d8b;
  border-radius: 0.3rem;
}

.to-do-form__button--primary {
  background: #2196f3;
}

.to-do-form__button--success {
  background: #00bcd4;
}

.to-do-form__button--danger {
  background: #e91e63;
}
